include versioneer.py
include artella/plugins/updater/artella-plugin.json
include artella/plugins/updater/_version.py
include artella/plugins/updater/resources/updater.png
recursive-exclude * *.py[co]