# ===================================================================
# artella-plugins-updater requirements file
# ===================================================================

artella-plugins-core